{% extends "base.html" %}

{% block content %}
	<div class="btn-group col-md-12" role="group">
          <a href="/ideas/comment?id={{idea.pk}}"><label>Comment Idea</label>
            <i class=" btn fa fa-plus fa-2x" aria-hidden="true"></i>
          </a><br>
          <a href="/ideas/editIdea?id={{idea.pk}}"><label>Edit Idea</label>
	    	<i class=" btn fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
	    </a>
	    {% if idea.creator|stringformat:"s" == user.get_username %}
			<br><a href="/ideas/main?delete={{idea.pk}}"><label>Delete Idea</label>
	    		<i class=" btn fa fa-trash fa-2x" aria-hidden="true"></i>
	    	</a>
	    {% endif %}
	</div>
	<div class="col-md-8">
	    <p><font size="6">{{idea.idea_title}}</font></p>
	    <p><font size="5">{{idea.idea_text}}</font></p>
    </div>
    <div class="col-md-4">
    	<p><font size="6">Comments</font></p>
    	{% for comment in comments %}
			<li class="list-group-item">{{ comment.comment}}</b><a class="pull-right" href="/ideas/detail?id={{comment.id}}">See idea</a></li>
		{% endfor %}
    </div>
{% endblock %}
