{% extends "base.html" %}

{% block content %}

<h2>Available ideas</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
    	    <label>Add new idea
             <div class="btn-group" role="group" id="plus-btn">
                 <a href="/ideas/addIdea">
                    <i class=" btn fa fa-plus fa-2x" aria-hidden="true"></i>
                 </a>
            </div>
             </label>
        </div>
    </div>

<form action="main" method="post" enctype="application/x-www-form-urlencoded">
	{% csrf_token %}
	{{ filterform }}
	<button class="btn btn-primary btn-sm" type="submit">Search</button>
</form>

<ul class="list-group">
	{% for idea in ideas %}
		<li class="list-group-item">{{ idea.idea_title}} by <b>{{ idea.creator}}</b><a class="pull-right" href="/ideas/detail?id={{idea.id}}">See idea</a></li>
	{% endfor %}
</ul>



{% endblock %}
