{% extends "base.html" %}

{% block content %}

<h2>Available ideas</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
			<a href="/ideas/addIdea" class="btn btn-primary btn-md fa fa-plus-square-o" aria-hidden="true">
                 <label>Add new idea</label></a>
		
		
			<form class="pull-right" action="main" method="post" enctype="application/x-www-form-urlencoded">
				{% csrf_token %}
				{{ filterform }}
				<button class="btn btn-primary btn-md fa fa-search" type="submit" >Search</button>
			</form>
		</div>
	</div>
</div>



<ul class="list-group">
	{% for idea in ideas %}
		<li class="list-group-item">{{ idea.idea_title}} by <b>{{ idea.creator}}</b><a class="pull-right btn btn-primary btn-md fa fa-search-plus" href="/ideas/detail?id={{idea.id}}">See idea</a></li>
	{% endfor %}
</ul>

{% endblock %}
