{% extends "base.html" %}

{% block content %}

<h2>Available ideas</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
    	    <label>Add new idea
             <div class="btn-group" role="group" id="plus-btn">
                 <a href="/ideas/addIdea">
                    <i class=" btn fa fa-plus fa-2x" aria-hidden="true"></i>
                 </a>
            </div>
             </label>
        </div>
    </div>

  <div class="row">
      <div class="col-md-3">  <label >Filter ideas by:</label> </div>
      <div class="col-md-3"> <label><input type="checkbox" id="cbox1" value="first_checkbox"> author</label><br> </div>
      <div class="col-md-3"><label><input type="checkbox" id="cbox2" value="second_checkbox"> keyword <input type="text"></label><br></div>
      <div class="col-md-3"> <button class="btn btn-primary btn-sm" type="submit">apply filter</button> </div>
  </div>
</div>

<ul class="list-group">
	{% for idea in ideas %}
		<li class="list-group-item">{{ idea.idea_title}} by {{ idea.creator}}</li>
	{% endfor %}
</ul>

{% endblock %}
